<% include templates/header %>
<div id="main">
    <div class="jumbotron text-center">
        <h1>
            <span class="fa fa-lock"></span>Employee Engagement Platform</h1>
        
        
</div>
<% include templates/footer %>