body {
	margin: 0;
	padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

header {
	width: 100%;
	height: 77px;
	background: white;
}

header h1 {
	display: inline-block;
	margin 20px 0 0;
}

ol, ul {
	list-style: none;
}

.hide-blue-border {
	border-top: none;
}

.actions {
	font-size: 15px;
	float: right;
	display: block;
	margin: -40px 6px 0 0;
}

header ul.actions li {
	float: left;
	display: block;
	margin: 12px 0 0 25px;
} 

header ul.actions li a {
	color: #686868;
}

.logo {
	/*background-image: url('/images/logo.jpg');*/
	background-repeat: no-repeat;
}

.logo a {
	display: block;
	height: 36px;
	text-indent: 9999px;
	width: 155px;
}

