<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>App for fun</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
      body {
          padding-top:80px;
      }
    </style>
  </head>
  <body>
    
  